<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ course.title }}</h5>
    <p class="card-text">
      {{ course.description }}
    </p>
  </div>
  <div class="ml-2 mb-2">
    <div *ngIf="isAdmin()">
      <button class="btn btn-danger" (click)="onCourseDelete()">Delete</button>
      <button class="btn btn-dark ml-2" (click)="onCourseEdit()">Edit</button>
    </div>
  </div>

  <div class="ml-2 mb-2">
    <div *ngIf="isLoggedIn() && !isAdmin()">
      <button class="btn btn-dark" (click)="onCourseJoin()">Join</button>
      <button class="btn btn-light ml-2">Rate</button>
    </div>
  </div>
</div>