<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ course.title }}</h5>
    <p class="card-text">
      {{ course.description }}
    </p>


    <div *ngIf="isAdmin()">
      <p class="card-text">
        <span class="font-weight-bold"> Rating: </span> {{ course.rating }}
      </p>
      <button class="btn btn-danger" (click)="onCourseDelete()">Delete</button>
      <button class="btn btn-dark ml-2" (click)="onCourseEdit()">Edit</button>
    </div>


    <div *ngIf="isLoggedIn() && !isAdmin()">
      <p class="card-text">
        <span class="font-weight-bold"> Rating: </span> {{ course.rating }}
      </p>
      <div *ngIf="!isUserEnrolled(); else isEnrolled">
        <button class="btn btn-dark" (click)="onCourseJoin()">Join</button>
      </div>
      <ng-template #isEnrolled>
        <button class="btn btn-danger" (click)="onCourseUnenroll()">Unenroll</button>
        <button class="btn btn-light ml-2" (click)="onCourseRate()">Rate</button>
      </ng-template>
    </div>


  </div>
</div>