<div class="login-holder">
  <div class="container">
    <div class="form-holder">
      <h3>Register</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Repeat password</label>
              <input type="password" class="form-control" formControlName="repeatPassword">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-right">
            <span (click)="redirectToLogin()" class="loginLink mr-2">
              Already have an account?
            </span>
            <span>
              <button type="submit" class="btn btn-success">Register</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>