<div class="login-holder">
    <div class="container">
        <div class="form-holder">
            <h3 class="mt-4">Login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" formControlName="email">
                            <div class="error" *ngIf="email?.errors">
                                <span class="text-danger" *ngIf="email.errors.required">Required field.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" formControlName="password">
                            <div class="error" *ngIf="password?.errors">
                                <span class="text-danger" *ngIf="password.errors.required">Required field.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-right">
                        <span (click)="redirectToRegister()" class="registerLink mr-2">
                            Don't have an account yet?
                        </span>
                        <button type="submit" class="btn btn-success" [disabled]="!isFormValid">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>